<div id="search-container" class="pagealigned">
    <form method="GET" id="{{ collection }}-search" action="{{ path }}">
        <div class="search_button_container">
            <input type="image" src="{{ asset('bundles/ambassador/images/ui/icn_search.png') }}" class="search-image" name="submit" />
        </div>
        <div class="search_item_container">
            <input id="{{ collection }}-search-input"
                   placeholder="{% if query is not empty -%}
                                    {%- trans %}Search for more details here (type ? for help){% endtrans -%}
                               {%- else -%}
                                    {% set name = collection|trans %}
                                    {%- trans with {'%name%': name} %}Search for %name% by entering any detail here (type ? for help){% endtrans -%}
                               {%- endif %}"
                   tabindex="0" type="text" name="search_query[new]"
                   value="{% if query -%}
                           {{- query -}}
                       {%- elseif app.session.get(collection + '_query_string') -%}
                            {{- app.session.get(collection + '_query_string') -}}
                       {%- endif %}"
                   autocomplete=off accesskey="f" />
        </div>
        {% if query is defined %}
        <div class="search_cancel_button_container">
            <a href="{{ path }}">
                <image src="{{ asset('bundles/ambassador/images/ui/icn_cancel_search.png') }}" />
            </a>
        </div>
        {% endif %}
        <input type="hidden" name="page" value="1" id="search-page" />
        {% if all_contexts is defined %}
            <div class="all-contexts">
                <input type="checkbox" id="{{ collection }}-all-contexts" name="all_contexts" {% if all_contexts %} checked{% endif %}>
                <label for="{{ collection }}-all-contexts">{% trans with {'%client%': app.session.get('clientName')} %}Show only %client% results{% endtrans %}</label>
            </div>
        {% endif %}
    </form>
</div>
<div id="search-help" style="display: none; z-index: 10">
    <img class="close-filter-dialog" src="{{ asset('bundles/ambassador/images/ui/icn_cancel_search.png') }}" class="profile_img" style="padding: 10px; border: 0px solid #CCC; padding: 0px; margin: -10px -10px 0px 0px; float: right; cursor: pointer" title="{% trans %}This campaign has no image{% endtrans %}" />
    <h4>{% trans %}Search help{% endtrans %}</h4>
    <p>{% trans %}Search syntax:{% endtrans %} <span class="bold">{% trans %}keyword:query{% endtrans %}</span></p>
    <p>{% trans %}Separate with comma to use more keywords.{% endtrans %}</p>

    <hr>
    <h5>{% trans %}Search words{% endtrans %}</h5>
    <p>{% trans %}These are the keywords you can use in the searchbox.{% endtrans %}</p>
    <br>
    {% for field, keywords in fields %}
        <p class="list"><i id="field-{{ field }}" class="auto-field">{{ field_translations[field] }}</i> : <strong>{{ keywords | join(', ') }}</strong></p>
    {% endfor %}
    <hr>
    <h5>{% trans %}Examples{% endtrans %}</h5>
    <ul id="examples">
        <li class="auto-field">g:ola,f:nordmann,x:male</li>
        <li class="auto-field">q:ola male 1979,@:gmail.com</li>
        <li class="auto-field">u:nordman79,b:1979,a:rådhusgaten 12, oslo</li>
        <li class="auto-field">cc:123456******1234 (<i>or</i> cc:123456*1234)</li>
        <li class="auto-field">cc:************1234 (<i>or</i> cc:*1234)</li>
        <li class="auto-field">bank:12345678910</li>
        <li class="auto-field">pp:4712345678 (<i>for Strex</i>)</li>
        <li class="auto-field">pp:46123456789 (<i>for WyWallet</i>)</li>
        <li class="auto-field">ke:test@example.com</li>
    </ul>
</div>
<div id="search-item-template" style="display:none;visibility:hidden;position:absolute;">
    <div class="search_item_container">
        <label class="hugging">%FIELD%</label><input type="text" class="hugging search-input" name="search_query[%FIELD%]" value="%VALUE%">
        <a class="remove-query-field" tabindex="-1" href="#">
            <img src="{{ asset('bundles/ambassador/images/ui/icn_cancel_search.png') }}">
        </a>
    </div>
</div>
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    window.resetPage = function() {
        $('#search-page').val(1);
    };

    // prepare legend translations and display by parsing search help
    var $search_help = $('#search-help .list');

    window.l10n = window.l10n || {};
    window.l10n.search_fields = {};
    window.search = {};
    window.search.aliases = {};
    $search_help.find('i.auto-field').each(function(i) {
        var $i = $(this),
            id = $i.attr('id'), // field-
            field = id.substring(6),
            translated = $i.html(),
            $children = $i.nextUntil('i'),
            aliases = [];

        $children.each( function(i) { window.search.aliases[$(this).html()] = field; });
        window.l10n.search_fields[field] = translated
    } );

    var $search_input = $('#{{ collection }}-search-input');
    $(document).keyup(function(e) { if (e.keyCode == 27) { $('#search-help').hide(); $('#{{ collection }}-search-input').focus(); } } );

    removableSearch = function(event) {
        var $input = $(event.target);
        if (event.which == 8 && !$input.val()) {
            var $prev_box = $input.parent().prev('.search_item_container');
            if ($input.prev('label').size()) {
                $input.parent().remove();
                var rest_elements = $('#{{ collection }}-search').find('input[type=text]');
                if (rest_elements.size() == 1) {
                    rest_elements.first().focus();
                }
            };
            if ($prev_box.size()) {
                $prev_input = $prev_box.find('input[type=text]');
                $prev_input.selectRange($prev_input.val().length, $prev_input.val().length);
                event.preventDefault();
            }
        }
    };

    $('.auto-field').click(function (event) {
        var $input = $('#{{ collection }}-search-input'),
            $item = $(event.target),
            field = $item.attr('id'),
            field = field.substring(6);

        $input.val(field + ': ');
        $input.boxify();

        var $auto_item = $input.parent().prev('.search_item_container').find('input[type=text]');

        $auto_item.selectRange(0, $auto_item.val().length);
        $auto_item.focus();
    });

    $('#examples li').each(function() { 
        $(this).click(function() {
            var text = $(this).html();
            $('form .remove-query-field').each(function() {
                $(this).click();
            });
            $search_input.val(text).boxify().takeRest(45)();
        })
    });
    $search_input.bind('keypress', function(event) {
        if (event.which == 44) {
            var current_length = $search_input.val().length;
            $search_input.boxify();
            if ($search_input.val().length != current_length) {
                event.preventDefault();
            }
        } else if (event.which == 63) {
            $('#search-help').show();
            event.preventDefault();
        }
    }).change(resetPage);
    $('.search-input').change(resetPage);
    $('.search-image').click(resetPage);
    
    $('.close-filter-dialog').click(function (event) {
        $('#search-help').hide(); $('#{{ collection }}-search-input').focus();
    });


    $search_input.boxify().takeRest(45);

    $search_input.bind('keydown', removableSearch);
    $('#{{- collection -}}-search').bind('submit', function() {
        $search_input.boxify();
        return true;
    });
    
    $('a.remove-query-field').bind('click', function(e) {
        var $this = $(this);
        $this.parent().remove();
        resetPage();
        $search_input.takeRest(45).focus();
    });
    {% if focus %}
        $search_input.focus();
    {% endif %}
    $(window).resize(function() {
        $search_input.takeRest(45);
    });

});
</script>
{% endblock %}