<div id="search-container" class="pagealigned">
    <form method="GET" id="{{ collection }}-search" action="{{ path }}">
        <div class="search_button_container">
            <input type="image" src="{{ asset('bundles/ambassador/images/ui/icn_search.png') }}" class="search-image" name="submit" />
        </div>
        <div class="search_item_container">
            <input id="{{ collection }}-search-input"
                   placeholder="{% if query is not empty -%}
                                    {%- trans %}Search for more details here (type ? for help){% endtrans -%}
                               {%- else -%}
                                    {%- if collection is sameas('users') -%}
                                        {%- trans %}Search for users by entering any detail here (type ? for help){% endtrans -%}
                                    {%- elseif collection is sameas('products') -%}
                                        {%- trans %}Search for products by entering any detail here (type ? for help){% endtrans -%}
                                    {%- elseif collection is sameas('products') -%}
                                        {%- trans %}Search for campaigns by entering any detail here (type ? for help){% endtrans -%}
                                    {%- else -%}
                                        {%- trans %}Search by entering any detail here (type ? for help){% endtrans -%}
                                    {%- endif -%}
                               {%- endif %}"
                   tabindex="0" type="text" name="search_query[new]"
                   value="{% if query -%}
                           {{- query -}}
                       {%- elseif app.session.get(collection + '_query_string') -%}
                            {{- app.session.get(collection + '_query_string') -}}
                       {%- endif %}"
                   autocomplete=off accesskey="f" />
        </div>
        {% if query is defined %}
        <div class="search_cancel_button_container">
            <a href="{{ path }}">
                <image src="{{ asset('bundles/ambassador/images/ui/icn_cancel_search.png') }}" />
            </a>
        </div>
        {% endif %}
        <input type="hidden" name="page" value="1" id="search-page" />
        {% if all_contexts is defined %}
            <div class="all-contexts">
                <input type="checkbox" id="{{ collection }}-all-contexts" name="all_contexts"{% if all_contexts %} checked{% endif %}>
                <label for="{{ collection }}-all-contexts">{% trans %}Include results from other contexts{% endtrans %}</label>
            </div>
        {% endif %}
    </form>
</div>
<div id="search-help" style="display: none;">
    <h4>{% trans %}Search help{% endtrans %}</h4>
    <p>{% trans %}These are the keywords you can use in the searchbox.{% endtrans %}</p>
    <p>{% trans %}Search syntax:{% endtrans %} <span class="bold">{% trans %}keyword:query{% endtrans %}</span></p>
    <p>{% trans %}Separate with comma to use more keywords.{% endtrans %}</p>
    <hr>
    <dl>
    {% for field, keywords in fields %}
        <dt id="field-{{ field }}" class="auto-field">{{ field_translations[field] }}</dt>
        {% for keyword in keywords %}<dd class="auto-field">{{ keyword }}</dd>{% endfor %}
    {% endfor %}
    </dl>
</div>
<div id="search-item-template" style="display:none;visibility:hidden;position:absolute;">
    <div class="search_item_container">
        <label class="hugging">%FIELD%</label><input type="text" class="hugging search-input" name="search_query[%FIELD%]" value="%VALUE%">
        <a class="remove-query-field" tabindex="-1" href="#">
            <img src="{{ asset('bundles/ambassador/images/ui/icn_cancel_search.png') }}">
        </a>
    </div>
</div>
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    window.resetPage = function() {
        console.log('reset');
        $('#search-page').val(1);
    };

    // prepare legend translations and display by parsing search help
    var $search_help = $('#search-help dl');

    window.l10n = window.l10n || {};
    window.l10n.search_fields = {};
    window.search = {};
    window.search.aliases = {};
    $search_help.find('dt').each(function(i) {
        var $dt = $(this),
            id = $dt.attr('id'), // field-
            field = id.substring(6),
            translated = $dt.html(),
            $children = $dt.nextUntil('dt'),
            aliases = [];

        $children.each( function(i) { window.search.aliases[$(this).html()] = field; });
        window.l10n.search_fields[field] = translated
    } );

    var $search_input = $('#{{ collection }}-search-input');
    $(document).keyup(function(e) { if (e.keyCode == 27) { $('#search-help').hide(); $('#{{ collection }}-search-input').focus(); } } );

    removableSearch = function(event) {
        var $input = $(event.target);
        if (event.which == 8 && !$input.val()) {
            var $prev_box = $input.parent().prev('.search_item_container');
            if ($input.prev('label').size()) {
                $input.parent().remove();
                var rest_elements = $('#{{ collection }}-search').find('input[type=text]');
                if (rest_elements.size() == 1) {
                    rest_elements.first().focus();
                }
            };
            if ($prev_box.size()) {
                $prev_input = $prev_box.find('input[type=text]');
                $prev_input.selectRange($prev_input.val().length, $prev_input.val().length);
                event.preventDefault();
            }
        }
    };

    $('.auto-field').click(function (event) {
        var $input = $('#{{ collection }}-search-input'),
            $item = $(event.target);

        $input.val($input.val() + $item.html() + ': ');
        $input.boxify();

        var $auto_item = $input.parent().prev('.search_item_container').find('input[type=text]');

        $auto_item.selectRange(0, $auto_item.val().length);
        $auto_item.focus();
    });

    $search_input.bind('keypress', function(event) {
        if (event.which == 44) {
            var current_length = $search_input.val().length;
            $search_input.boxify();
            if ($search_input.val().length != current_length) {
                event.preventDefault();
            }
        } else if (event.which == 63) {
            $('#search-help').show();
            event.preventDefault();
        }
    }).change(resetPage);
    $('.search-input').change(resetPage);
    $('.search-image').click(resetPage);

    $search_input.boxify().takeRest(45);

    $search_input.bind('keydown', removableSearch);
    $('#{{- collection -}}-search').bind('submit', function() {
        $search_input.boxify();
        return true;
    });
    
    $('a.remove-query-field').bind('click', function(e) {
        var $this = $(this);
        $this.parent().remove();
        resetPage();
        $search_input.takeRest(45).focus();
    });
    {% if focus %}
        $search_input.focus();
    {% endif %}
    $(window).resize(function() {
        $search_input.takeRest(45);
    });

});
</script>
{% endblock %}